language: php

php:
    - "5.3"
    - "5.4"
    - "5.5"
    - "5.6"
    - "7.0"

sudo: false

install:
    - travis_retry composer self-update && composer --version
    - travis_retry composer update --prefer-dist --dev --no-interaction

script: ant -keep-going

# Hack to make things work again - we can not use a shallow repository.
git:
  depth: 2147483647
